
ion-slides {
    --text-align: center;
    height: 100%;
    color: forestgreen;
    --bullet-background: gray;
    --background-color:white;
    --bullet-background-active: forestgreen;
}

ion-slider-pager {
    --moz-list-bullet-color: forestgreen;
    --background-color:white;
}

ion-slide {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    height: 100%;
}


#slides{
    background: white;
}