<ion-content class="">
    <ion-slides pager="true" #slides [options]="slideOpts" background="#fff">
        <ion-slide>
            <ion-content>
                <ion-card  class="register">
                    <div class="img">
                        <img src="assets/wel.png" alt="saloon-logo">
                    </div>
                    <p class="suc">You've logged in successfully.</p>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <ion-button type="button" fill="clear" (click)="slides.slideNext()">Next
                    <ion-icon name="chevron-forward"></ion-icon>
                </ion-button>
            </ion-footer>
        </ion-slide>


        <ion-slide>
            <ion-content>
                <ion-card class="register">
                    <label class="register">Registration</label>
                        <div>
                            <ion-label class="greenColor headSize" position="floating">Please add your Shop Name</ion-label>
                        </div>
                        <div class="img2">
                            <img src="assets/business.png" alt="business-logo">
                        </div>
                        <div class="BName">
                            <ion-input class="form-control" placeholder="Enter Shop Name" [(ngModel)]="user.businessname" type="text" maxlength="25">
                            </ion-input>
                        </div>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <div class="next">
                    <ion-button fill="clear" slot="start" (click)="slides.slidePrev()">
                        <ion-icon name="chevron-back"></ion-icon>Prev</ion-button>
                            <ion-button fill="clear" [disabled]="user.businessname.length === 0" (click)="slides.slideNext()">Next
                                <ion-icon name="chevron-forward"></ion-icon>
                            </ion-button>
                </div>
            </ion-footer>
        </ion-slide>


        <ion-slide style="width: 310;">
            <ion-content>
                <ion-card class="register">
                    <ion-label position="floating" class="greenColor headSize">Please add your Name</ion-label>
                        <div class="img2">
                            <img src="assets/profile.png" alt="profile-logo">
                        </div>
                        <div class="BName">
                            <ion-input position="floating" class="form-control" style="width: 45vh;" placeholder="Enter your Name" [(ngModel)]="user.name" type="text"></ion-input>
                        </div>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <div class="next">
                    <ion-button fill="clear" (click)="slides.slidePrev()">
                        <ion-icon name="chevron-back"></ion-icon>Prev
                    </ion-button>
                    <ion-button fill="clear" [disabled]="user.name.length === 0" (click)="slides.slideNext()">Next
                        <ion-icon name="chevron-forward"></ion-icon>
                    </ion-button>
                </div>
            </ion-footer>
        </ion-slide>
<!--Mobile no-->
        
       <ion-slide>
        <ion-content>
            <ion-card class="register">
                    <ion-label position="floating"  class="greenColor headSize">
                        Please add your Mobile Numbers
                    </ion-label>
        
                    <div class="img2">
                        <img src="assets/calling.png" alt="calling-logo">
                    </div>
                    <div >
                        <ion-label class="num"><ion-icon name="call" slot="start"></ion-icon>primary number : {{mobilenu.mobile}}</ion-label>
                    </div> 

                    <div class="BName">
                        <ion-input class="form-control" placeholder="secondary Number(Optional)" type="text" [(ngModel)]="user.phone">
                        </ion-input>
                    </div>
                    <div class="BName">
                        <ion-input class="form-control" placeholder="custom Number(Optional)" type="text" [(ngModel)]="user.phone2">
                        </ion-input>
                    </div>
            </ion-card>
        </ion-content>
        <ion-footer class="ion-no-border">
            <div class="next">
                <ion-button fill="clear" (click)="slides.slidePrev()" slot="start">
                    <ion-icon name="chevron-back"></ion-icon>prev
                </ion-button>
                <ion-button fill="clear" (click)="phoneStorage(slides)" slot="end">Next
                    <ion-icon name="chevron-forward"></ion-icon>
                </ion-button>
            </div>
         </ion-footer>
    </ion-slide>
    <!--email id-->

        <ion-slide>
          <ion-content>
                <ion-card class="register">
                    <ion-label position="floating" class="greenColor headSize">
                        Please add your Email id
                    </ion-label>
                    <div class="img2">
                        <img src="assets/emailid.png" alt="emailid-logo">
                    </div>
                    <div class="BName">
                        <ion-input class="form-control inputText" style="width: 45vh;" placeholder="Enter Email" [(ngModel)]="user.Email" type="text"></ion-input>
                    </div>
              </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <div class="">
                    <ion-button fill="clear" (click)="slides.slidePrev()">
                        <ion-icon name="chevron-back"></ion-icon>prev
                    </ion-button>
                    <ion-button fill="clear" (click)="nxtEmail(slides)">Next
                        <ion-icon name="chevron-forward"></ion-icon>
                    </ion-button>
                </div>
            </ion-footer>
        </ion-slide>

    <!--fb link-->
        <ion-slide>
         <ion-content>
             <ion-card class="register">
             <ion-card class="register">
                <ion-label position="floating" class="greenColor headSize">
                    Please add your Public Profile Link(facebook/instagram)
                </ion-label>
                <div class="img2">
                    <img src="assets/socialmedia.png" alt="socialmedia-logo">
                </div>
                <div class="BName">
                    <ion-input class="form-control" placeholder="Enter facebook link" type="text">
                    </ion-input>
                </div>
                <div class="BName">
                    <ion-input class="form-control" placeholder="Enter instagram link" type="text">
                    </ion-input>
                </div>
            </ion-card>
            </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <div class="next">
                <ion-button fill="clear" (click)="slides.slidePrev()">
                    <ion-icon name="chevron-back"></ion-icon>Prev
                </ion-button>
                <ion-button fill="clear" (click)="slides.slideNext()">Next
                    <ion-icon name="chevron-forward"></ion-icon>
                </ion-button>
            </div>
        </ion-footer>
        </ion-slide>

        <!--Address Content-->
        <ion-slide>
            <ion-content [fullscreen]="true">
                <ion-card class="cardAddress">
                    <ion-grid class="">
                        <ion-row class="ion-padding-bottom">
                            <ion-col size="12">
                                <ion-label class="greenColor headSize">Please search shop address</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-searchbar placeholder="Search Address" class="input" inputmode="search" showCancelButton="never" [(ngModel)]="searchTerm" (ionInput)="searchPlace()" (ionCancel)="reset()" selected="true" autofocus>
                                </ion-searchbar>
                            </ion-col>
                        </ion-row>
                        <ion-label class="" *ngIf="autoCompleteItems.length === 0">
                            <ion-img src="assets/Search.png"></ion-img>
                        </ion-label>
                        <ion-card *ngIf="autoCompleteItems && autoCompleteItems.length">
                            <ion-list style="box-shadow: 0 0vh 6vh #bdbdbd!important;">
                                <ion-item *ngFor="let item of autoCompleteItems" class="item-requset-ride" tappable (click)="itemSelected(item, slides)">
                                    <ion-icon name="location" slot="start"></ion-icon>
                                    <ion-label>
                                        <p>{{item}}</p>
                                    </ion-label>
                                </ion-item>
                            </ion-list>
                        </ion-card>
                    </ion-grid>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <div class="next">                
                    <ion-button fill="none" [color]="'#228B22'" (click)="slides.slidePrev()" class="textBold ion-text-uppercase">
                    <ion-icon name="chevron-back"></ion-icon>Prev
                </ion-button>
                <ion-button class="btnSubmit textBold" (click)="slides.slideNext()">
                    <ion-icon name="add-sharp"></ion-icon> Address
                </ion-button>
            </div>
            </ion-footer>
        </ion-slide>

        <ion-slide>
            <ion-content [fullscreen]="true">
                <ion-card class="cardAddress">
                    <ion-grid>
                        <ion-row class="">
                            <ion-col size="12">
                                <ion-label class="green1">Your Address</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-padding-bottom">
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label position="stacked" class="green">Address</ion-label>
                                    <ion-textarea class="typeText" rows="3" cols="5" [(ngModel)]="api.address">
                                    </ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label position="stacked" class="green">City</ion-label>
                                    <ion-input type="text" class="typeText" [(ngModel)]="api.city"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label position="stacked" class="green">Zipcode</ion-label>
                                    <ion-input type="text" class="typeText" [(ngModel)]="api.zipcode"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">

                <ion-button fill="none" [color]="'#228B22'" (click)="slides.slidePrev()" class="textBold ion-text-uppercase">
                    <ion-icon name="chevron-back"></ion-icon>Prev
                </ion-button>
                <ion-button class="btnSubmit textBold ion-text-uppercase" (click)="editedAddress(slides)">
                    Continue
                </ion-button>
            </ion-footer>
        </ion-slide>

        <ion-slide>
            <ion-content [fullscreen]="true">
                <ion-card class="cardAddress">
                    <ion-grid>
                        <ion-row class="ion-padding-bottom">
                            <ion-col size="12">
                                <ion-label class="green">Your Address</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row class="ion-padding-bottom">
                            <ion-col size="12">
                                <agm-map [latitude]="api.latitude" [longitude]="api.longitude" [zoom]="zoom" [disableDefaultUI]="disableDefaultUI" [zoomControl]="zoomControl" [fullscreenControl]="fullscreenControl" [styles]="styles">
                                    <agm-marker [latitude]="api.latitude" [longitude]="api.longitude"></agm-marker>
                                </agm-map>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-text color="medium"><span class="locTitle">Address: </span> {{api.address}}
                                    </ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label><span class="locTitle">City: </span></ion-label>
                                    <ion-text color="medium">{{api.city}}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label><span class="locTitle">Zipcode: </span></ion-label>
                                    <ion-text color="medium">{{api.zipcode}}</ion-text>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <ion-button fill="none" [color]="'#228B22'" (click)="slides.slidePrev()" class="textBold ion-text-uppercase">
                    <ion-icon name="chevron-back"></ion-icon>Prev
                </ion-button>
                <ion-button class="btnSubmit textBold ion-text-uppercase" (click)="nxtCategory(slides)">
                    Continue
                </ion-button>
            </ion-footer>
        </ion-slide>
<!--categories-->
        <ion-slide>
            <ion-card class="cardAddress">
                <ion-grid>
                    <ion-row class="ion-padding-bottom">
                        <ion-col size="12">
                            <ion-label class="green">Choose Categories</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
            <ion-content>
                <ion-card class="cardAddress ion-padding">
                    <ion-list lines="none">
                        <ion-item *ngFor="let item of category">
                            <ion-label class="cat">{{item.category}}</ion-label>
                            <ion-checkbox slot="end" [value]="item.category" (ionChange)="checkBoxEvnt($event)">
                            </ion-checkbox>
                        </ion-item>
                    </ion-list>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-padding ion-no-border">
                <ion-button class="btnSubmit textBold ion-text-uppercase ion-padding-horizontal" (click)="nxtService(slides)">
                    Next
                </ion-button>
            </ion-footer>
        </ion-slide>

        <ion-slide>
            <ion-card class="cardAddress">
                <ion-grid>
                    <ion-row class="ion-padding-bottom">
                        <ion-col size="12">
                            <ion-label class="green">Services</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card>
            <ion-content>
                <ion-card class="cardAddress">
                    <div *ngFor="let item of api.services">
                        <ion-card-title class="ion-padding">
                            <p class="cat1">{{ item.category }}</p>
                        </ion-card-title>
                        <ion-grid class="" *ngFor="let a of item.services">
                            <ion-row class="">
                                <ion-col size="12">
                                    <ion-label class="ser"><b>{{a.service}}:</b></ion-label>
                                </ion-col>
                            </ion-row>
                            <ion-row>  
                                <ion-col size="12">
                                    <ion-item>
                                        <ion-label color="primary">Price( &#8377; ):</ion-label>
                                        <ion-input type="text" [value]="a.price" [(ngModel)]="a.price"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="12">
                                    <ion-item>
                                        <ion-label color="primary">Duration( mins ):</ion-label>
                                        <ion-input type="text" [value]="a.time" [(ngModel)]="a.time"></ion-input>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <ion-button fill="none" [color]="'#228B22'" (click)="savePrevService(slides)" class="textBold ion-text-uppercase">
                    <ion-icon name="chevron-back"></ion-icon>Prev
                </ion-button>
                <ion-button class="btnSubmit textBold ion-text-uppercase" (click)="saveService(slides)">
                    Save
                </ion-button>
            </ion-footer>

        </ion-slide>

        <ion-slide>
            <ion-content>
               <ion-card class="cardAddress">
                   <ion-grid>
                       <ion-row class="ion-padding-bottom">
                           <ion-col size="12">
                               <ion-label position="floating" class="green">
                                   Openning Hours
                               </ion-label>
                           </ion-col>
                       </ion-row>
                   </ion-grid> 
               </ion-card><ion-card class="cardAddress">
                <ion-grid>
                    <ion-row class="ion-padding-bottom">
                        <ion-col size="12">     
                            <div class="img4">
                                <img src="assets/time1.png" alt="time-logo">
                            </div>
                        </ion-col>
                    </ion-row>    
                </ion-grid>
            </ion-card>    

                <ion-row>
                    <ion-item lines="none" class="d-flex align-items-center justify-content-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Monday</ion-label>
                        <ion-checkbox value="Monday" checked="false" (ionChange)="onSelecteCheckBox($event)" slot="start">
                        </ion-checkbox>
                    </ion-item>
                   
                    
                        <div class="d-flex justify-content-between align-items-center" style="padding-right: 2px; padding-left: 20px;">
                            <ion-input *ngIf="checked" size="4" class="form-control" (click)="Mondaytime()" style="padding-bottom: 5px;padding-top: 5px;width: 82px;font-size: 10px;height: 20px;">
                                {{value2}}
                            </ion-input>
                           </div>
                    
                    <div *ngIf="!checked" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600; padding-left: 2px;">Closed</ion-label>
                    </div>
                </ion-row>


                <ion-row>
                    <ion-item lines="none" class="d-flex align-items-center justify-content-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Tusday</ion-label>
                        <ion-checkbox checked="false" value="Tuesday" (ionChange)="onSelectTusday($event)" color="primary" slot="start">
                        </ion-checkbox>
                    </ion-item>

                        <div class="d-flex justify-content-between align-items-center" style="padding-right: 2px; padding-left: 23px;">
                            <ion-input *ngIf="checked1" size="4" class="form-control" (click)="Tusdaytime()" style="padding-bottom: 5px;padding-top: 5px;width: 82px;font-size: 10px;height: 20px;">
                                {{value3}}
                            </ion-input>
                            </div>


                    <div *ngIf="!checked1" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;padding-left: 2px;">Closed</ion-label>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-item lines="none" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Wednesday</ion-label>
                        <ion-checkbox checked="false" (ionChange)="onSelecteCheckBoxwed($event)" value="Wednesday" color="primary" slot="start">
                        </ion-checkbox>
                    </ion-item>

                        <div class="d-flex justify-content-between align-items-center" *ngFor="let control of myTimeFormwed.controls | keyvalue; let i=index" style="padding-right: 2px; padding-left: 1px;">

                            <ion-input *ngIf="checked2" size="4" class="form-control" (click)="wednesdaytime()" style="padding-bottom: 5px;padding-top: 5px;width: 82px;font-size: 10px;height: 20px;">
                                {{value1}}
                            </ion-input>
                        </div>
                

                    <div *ngIf="!checked2" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Closed</ion-label>
                    </div>
                </ion-row>

                <ion-row>
                    <ion-item lines="none" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Thursday</ion-label>
                        <ion-checkbox checked="false" (ionChange)="onSelecteCheckBoxthurs($event)" slot="start"></ion-checkbox>
                    </ion-item>

                        <div class="d-flex justify-content-between align-items-center" style="padding-right: 2px; padding-left: 11px;">
                            <ion-input *ngIf="checked3" size="4" class="form-control" (click)="thursdaytime()" style="padding-bottom: 5px;padding-top: 5px;width: 82px;font-size: 10px;height: 20px;">
                                {{value0}}
                            </ion-input>
                          
                        </div>
            

                    <div *ngIf="!checked3" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600; padding-left: 2px;">Closed</ion-label>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-item lines="none" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Friday</ion-label>
                        <ion-checkbox checked="false" (ionChange)="onSelecteCheckBoxfri($event)" color="primary" slot="start">
                        </ion-checkbox>
                    </ion-item>

                        <div class="d-flex justify-content-between align-items-center" style="padding-right: 2px; padding-left: 26px;">
                            <ion-input *ngIf="checked4" size="4" class="form-control" (click)="Fridaytime()" style="padding-bottom: 5px;padding-top: 5px;width: 82px;font-size: 10px;height: 20px;">
                                {{value4}}
                            </ion-input>
                         
                        </div>
            

                    <div *ngIf="!checked4" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600; padding-left: 2px;">Closed</ion-label>
                    </div>
                </ion-row>

                <ion-row>
                    <ion-item lines="none" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Saturday</ion-label>
                        <ion-checkbox checked="false" (ionChange)="onSelecteCheckBoxsat($event)" color="primary" slot="start">
                        </ion-checkbox>
                    </ion-item>

                        <div class="d-flex justify-content-between align-items-center" style="padding-right: 2px; padding-left: 11px;">
                            <ion-input *ngIf="checked5" size="4" class="form-control" (click)="saturdaytime()" style="padding-bottom: 5px;padding-top: 5px;width: 82px;font-size: 10px;height: 20px;">
                                {{value5}}
                            </ion-input>
                           
                            </div>
                    <div *ngIf="!checked5" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600; padding-left: 2px;">Closed</ion-label>
                    </div>
                </ion-row>

                <ion-row>
                    <ion-item lines="none" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;">Sunday</ion-label>
                        <ion-checkbox checked="false" (ionChange)="onSelecteCheckBoxsun($event)" color="primary" slot="start">
                        </ion-checkbox>
                    </ion-item>

                        <div class="d-flex justify-content-between align-items-center"  style="padding-right: 2px; padding-left: 17px;">
                            <ion-input *ngIf="checked6" size="4" class="form-control" (click)="sundaytime()" style="padding-bottom: 5px;padding-top: 5px;width: 82px;font-size: 10px;height: 20px;">
                                {{value6}}
                            </ion-input>
                           
                        </div>
                    <div *ngIf="!checked6" class="d-flex align-items-center">
                        <ion-label style="font-size: 12px;font-weight: 600;padding-left: 1px;">Closed</ion-label>
                    </div>
                </ion-row>

            </ion-content>
            <ion-footer class="ion-no-border">
                <div class=" next">
                <ion-button class="btnSubmit textBold ion-text-uppercase ion-padding-horizontal" (click)="savehours(slides)">Next
                </ion-button>
            </div> 
        </ion-footer>
        </ion-slide>

        <ion-slide>
            <ion-content>
                <ion-card class="register">
                    <ion-label position="floating" class="greenColor"> Please add your Shop Photos</ion-label>


            <div class="">
                <img src="assets/Add_Photo.png" alt="socialmedia-logo" (click)="addPhoto()">
                <ion-button class="btnSubmit textBold ion-text-uppercase ion-padding-horizontal" (click)="addPhoto()">
                    Add Photo
                </ion-button>
            </div>
            <ion-img *ngIf="api.img_load" [src]="userProvide.loggedUser.profile_img"></ion-img>
            </ion-card>
            </ion-content>

            <ion-footer class="ion-no-border">
            <div class="next">
                <ion-button fill="clear" (click)="slides.slidePrev()">
                    <ion-icon name="chevron-back"></ion-icon>Prev
                </ion-button>
                <ion-button fill="clear" (click)="slides.slideNext()">Next
                    <ion-icon name="chevron-forward"></ion-icon>
                </ion-button>
            </div>
        </ion-footer>
        </ion-slide>

        <ion-slide>
            <ion-content>
                <ion-card class="signin2" style="box-shadow: none;">
                    <ion-card style="box-shadow: none;">
                    <img src="assets/signin 2.png" alt="saloo2-logo">
                    </ion-card>
                </ion-card>
            </ion-content>
            <ion-footer class="ion-no-border">
                <ion-button fill="clear" type="button" class="ion-padding-horizontal" (click)="slides.slidePrev()">
                    <ion-icon name="chevron-back"></ion-icon>Prev
                </ion-button>
                <ion-button class="btnSubmit textBold" type="button" (click)="register()">
                Save
                </ion-button>
            </ion-footer>
        </ion-slide>
    </ion-slides>
</ion-content>