.border {
    border: 1vh solid lightgray;
    border-radius: 2.5vh;
}

.suc{
    color: forestgreen;
    font-size: 16px;
    font-weight: bold;
}
.register{
    color: forestgreen;
    font-family:'Noto sans JP', sans-serif;
    font-weight: bold;
    align-self: center;
    margin-top: 10px;
    background-color:white;
    font-size: 20px;
    box-shadow: none;
}
.container-form-btn{
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    outline: none;
    text-align: center;
    background-color: forestgreen;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    padding-top:5px;
    transition: all 0.4s;
    background-color: forestgreen;

}
.form-btn:hover{
    background-color: forestgreen;
}
.form-btn:active{
    background-color: forestgreen;
    transform: translate(2vh);
}
ion-slides {
    --text-align: center;
    height: 100%;
    color: forestgreen;
    --bullet-background: gray;
    --background-color:white;
    --bullet-background-active: forestgreen;
}

ion-slider-pager {
    --moz-list-bullet-color: forestgreen;
    --background-color:white;
}

.signin2{
    height: fit-content;
    width:fit-content;
    align-self: center;
    margin-left: -15px;
}
.img {
   
        height: 55vh;
        margin-top: 2vh;
        margin-bottom: 6vh;
        margin-left: -2vh;
    }

.img2 {
    height: 45vh;
    padding-top: 1vh; 
}

.img3 {
    height: 45vh;
    //padding-top: 10px;
}

.img4 {
    height: 30vh;
    //padding-top: 10px;
}

agm-map {
    height: 20vh;
    border-radius: 4vh;
}

ion-slide {
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    height: 100%;
}
.btn{
    block-size: auto;
    margin-top: 2vh;
}
.Emailslide {
    padding-right: 3vh !important;
    padding-left: 3vh !important;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%
}

.nextbutton {
    color: forestgreen;
    padding-right: 20px;
    }

.next {
    font-family:sans-serif;
    font-weight: 300;
    align-self: flex-end;
  
}

ion-button {
    color: forestgreen;
    font-size: 12px;

}

.chev{
    width: 4vh;
}

.nextprev {
    padding-top: 200px;
    padding-bottom: 80px;
    padding-right: 30px;
    padding-left: 30px;
}

.checkbox {
    padding-left: 3vh;
    justify-content: center;
}

.or {
    color: white
}

.categories {
    color: forestgreen;
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding-right: 1vh;
    padding-left: 1vh;
}

.inputText{
    text-align: left;
}

ion-note {
    color: black;
    //font-style: Sacramento;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.note {
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: none;
}
.namemon {
    color: black;
    margin-top: 4vh;
    font-weight: 400;
}

.time {
    padding-top: 5vh;
    padding-left: 0.4vh;
}

.note2 {
    
    padding-top: 2vh;
    padding-bottom: 5vh;
    color: forestgreen;
}

.num{
    font-size: medium;
    font-weight: bold;
}
.BName {
    color: black;
    display: flex;
    justify-content: center;
    width: auto;
    margin:20px;
    align-self: center;
}

.BNameinsta {
    padding-right: 3vh !important;
    padding-left: 3vh !important;
    margin-top: 2vh;
    color: white;
    display: flex;
    justify-content: center;
    width: 45vh;
}
.form-control{
    display: block;
    box-shadow: 0 1vh 2.5vh 0 rgba(243,247,243,0.932);
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    border-color: rgb(72, 204, 245);
    border-style: ridge;
    border-width: 0.2vh;
    color: rgb(3,15,7);
    border-radius: 2vh;
    font-size: 14px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
}
.selectam {
    color: black;
    padding-left: 4vh;
    padding-right: 4vh;
    margin-left: 2.5vh;
    margin-right: 0.4vh;
    margin-bottom: 0.4vh;
}

.selectam1 {
    color: black;
    padding-left: 4vh;
    padding-right:4vh;
    margin-left:0.4vh;
    margin-right:0.4vh;
    display: flex;
}

.selectpm1 {
    color: black;
    padding-left: 4vh;
    padding-right:4vh;
    margin-left:0.4vh;
    margin-right:0.4vh;
    display: flex;
}

.selectpm {
    color: black;
    padding-left: 4vh;
    padding-right:4vh;
    margin-left:0.4vh;
    margin-right:0.4vh;
    display: flex;
}

.hoursaving {
    padding-top: 2vh;
}

.choosecat {
    border: 1vh solid lightseagreen;
}

.nextprev1 {
    padding-top: 18vh;
    padding-right: 3vh;
    padding-left: 3vh;
}

.nextprev2 {
    padding-bottom: 30vh;
}

.bgcolor {
    background-color: slateblue;
    height: 50vh;
}

.skipbutton {
    padding-bottom: 20px;
    padding-left: 200px;
    //padding-top: -20px;
    margin-top: 5px;
}
.save{
    color: white;
    background: forestgreen;
    border-radius: 20px;
    display: block;
}
/* Address-Block */
.toast-custom-class{
    --color:white;
    --border-color:skyblue;
    --border-style:solid;
    --background-color:red;
}

.cardAddress{
    box-shadow: none !important;
}

.greenColor{
    color: black;
    font-size:14px;
}
.headsize{
    font-size: 20px;
    color: forestgreen;
}

.green{
    font-weight: 700;
    color: forestgreen;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow:none;
}
.headSize{
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 9vh;
}

ion-searchbar.input{
    text-align: left;
  --background: white;
    font-weight: 600;
 --border-radius: 5vh;
    font-size: 20px;
    font-weight: 400;
}

.locTitle{
    font-weight: bold;
}
.cat{
    font-size: 14px;
    font-family: sans-serif;
    color: black;
    font-weight: 600;
}
.btnSubmit{
    --border-radius: 2.5vh;
    --background: forestgreen;
    color: white;
}

.btnAdd{
    --border-radius: 2vh;
}

.typeText{
    border-bottom: 0.5vh solid forestgreen;
}

ion-checkbox{
    --background-checked: #228B22; 
    //--border-color: #228B22;
    --border-color-checked: transparent !important;
}

.btnNext{
    --background: #228B22;
    color: white;
    border-radius: 5vh;
}
.green1{
    font-family: 'Noto ' sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: forestgreen;
}
.cat1{
    font-family:'Noto ' sans-serif ;
    font-size:16px;
    color: darkred;
    font-weight: 600;
}
.ser{
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}
.price{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 450;
}
.note1{
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    color: forestgreen;
    font-weight: 500;
}
.time{
    box-shadow: none;
}
ion-checkbox {
     --checkmark-color:white;
     --background-checked: forestgreen;
     --background-color:white;
     --border-color:forestgreen;
}
ion-content{
    background-color:white;
}
ion-footer{
    background-color:white;
}
#slides{
    background: white;
}