<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="chevron-back" color="light" routerLink="/settings"></ion-icon>
        </ion-buttons>
        <ion-title color="light">Opening Hours</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="openingTime !== undefined">
        <ion-list lines="none">
            <ion-item>
                <ion-label>Monday</ion-label>
                <ion-checkbox slot="start" [value]="openingTime.OpeningHours.Monday" [checked]="openingTime.OpeningHours.Monday !== 'closed'" (ionChange)="onChangeEvent($event, 'mon')"></ion-checkbox>
                <ion-button shape="round" fill="outline" [color]="'#228B22'" (click)="Mondaytime('mon')">{{ openingTime.OpeningHours.Monday }}</ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Tuesday</ion-label>
                <ion-checkbox slot="start" [value]="openingTime.OpeningHours.Tusday" [checked]="openingTime.OpeningHours.Tusday !== 'closed'" (ionChange)="onChangeEvent($event, 'tue')"></ion-checkbox>
                <ion-button shape="round" fill="outline" [color]="'#228B22'" (click)="Mondaytime('tue')">{{ openingTime.OpeningHours.Tusday }}</ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Wednesday</ion-label>
                <ion-checkbox slot="start" [value]="openingTime.OpeningHours.Wednesday" [checked]="openingTime.OpeningHours.Wednesday !== 'closed'" (ionChange)="onChangeEvent($event, 'wed')"></ion-checkbox>
                <ion-button shape="round" fill="outline" [color]="'#228B22'" (click)="Mondaytime('wed')">{{ openingTime.OpeningHours.Wednesday }}</ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Thursday</ion-label>
                <ion-checkbox slot="start" [value]="openingTime.OpeningHours.Thursday" [checked]="openingTime.OpeningHours.Thursday !== 'closed'" (ionChange)="onChangeEvent($event, 'thu')"></ion-checkbox>
                <ion-button shape="round" fill="outline" [color]="'#228B22'" (click)="Mondaytime('thu')">{{ openingTime.OpeningHours.Thursday }}</ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Friday</ion-label>
                <ion-checkbox slot="start" [value]="openingTime.OpeningHours.Friday" [checked]="openingTime.OpeningHours.Friday !== 'closed'" (ionChange)="onChangeEvent($event, 'fri')"></ion-checkbox>
                <ion-button shape="round" fill="outline" [color]="'#228B22'" (click)="Mondaytime('fri')">{{ openingTime.OpeningHours.Friday }}</ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Saturday</ion-label>
                <ion-checkbox slot="start" [value]="openingTime.OpeningHours.saturday" [checked]="openingTime.OpeningHours.saturday !== 'closed'" (ionChange)="onChangeEvent($event, 'sat')"></ion-checkbox>
                <ion-button shape="round" fill="outline" [color]="'#228B22'" (click)="Mondaytime('sat')">{{ openingTime.OpeningHours.saturday }}</ion-button>
            </ion-item>
            <ion-item>
                <ion-label>Sunday</ion-label>
                <ion-checkbox slot="start" [value]="openingTime.OpeningHours.Sunday" [checked]="openingTime.OpeningHours.Sunday !== 'closed'" (ionChange)="onChangeEvent($event, 'sun')"></ion-checkbox>
                <ion-button shape="round" fill="outline" [color]="'#228B22'" (click)="Mondaytime('sun')">{{ openingTime.OpeningHours.Sunday }}</ion-button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
<ion-footer class="ion-padding">
    <ion-button expand="block" class="btnSave" (click)="save()">Save</ion-button>
</ion-footer>