ion-toolbar{
    --background:forestgreen;
    color: white;
}
.terms{
    font-family: monospace;
        margin-left:10px;
        align-content: justify;
        margin-right: 10px;
        margin-top: 20px;
}