<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" style="color: white;" routerLink="/settings"></ion-icon>
      <ion-title style="color: white;">Privacy</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="terms">
    <p>
    * Before using the Application, You must argee to this Terms and Condition. 
  </p>
  <p>
    * When registering, we will ask you to provide valid mobile phone number.
  </p>
  <p>
    After registering using Mobile no, Our system will automatically generate a verification code and send the verification code via a text message to the mobile phone number You provided.
  </p>
  <p>
    You have to verfiy by entering the verification code on the registeration page in the Application.
  </p>
    <p>
      After verifying, Our system will create a personal Booking account for you to use the Application and order services through the Application. 
    </p>
  </div>
</ion-content>
