ion-toolbar {
    --background: forestgreen;
}

ion-fab-button {
    --background: forestgreen;
}

ion-button {
    --background: forestgreen;
    align-self: center;
    size: 20px;
    margin-left: 65px;
}
.button{
    margin-left: auto 20px;
}
ion-calender {
    --color-selected: forestgreen;
}
ion-card{
      background: forestgreen;
}
ion-label{
    font-family: sans-serif;
    //font-weight:950;
    font-size: 20px;
    color: rgb(78, 6, 6);
}
img{
    width: 6%;
    height: 25px;
}
ion-input{
    padding: 10px;
}
ion-datetime{
    padding: 5px;
}