ion-toolbar {
    --background: forestgreen;
}
ion-toolbar{
    background: forestgreen;
    margin-top: 1px;
    text-align: center;
    //background-color: rgb(134, 21, 138);
    color:white;
}
ion-title{
    color: forestgreen;
    text-align: justify;
    font-family: cursive;
    font-size: 20px;
    block-size: 50px;
}
.digit{
    color: black;
    font-family: cursive;
    font-size: 20px;
    block-size: 50px;
    text-align: justify;
    box-shadow: none;
    
}
ion-label{
    font-size: 16px;
    text-align: center;
    font-family: cursive;
    font-size: 20px;
    box-shadow: none;

}