/*ion-toggle::before {
    position: absolute;
  
    top: 16px;
    left: 10px;
  
    content: "ON";
  
    color: white;
    font-size: 6px;
  
    z-index: 1;
  }
  ion-toggle::after {
    position: absolute;
  
    top: 16px;
    left: 10px;
  
    content: "OFF";
  
    color: white;
    font-size: px;
  
    z-index: 1;
  }*/