<ion-toolbar>
    <div class="back-circle"> 
    </div>
    <!--<div class="lang">
    <ion-label for="" style="color: black;margin-left: 70%;">
        {{ 'LOGIN.SELECT_LANG' | translate }}
        <ion-select (ionChange)="changeLocale($event)" style="color: black;margin-left: 85%;margin-top: -34px;">
            <ion-select-option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</ion-select-option>
        </ion-select>
    </ion-label>-->
    <!--<button style="color: ghostwhite;background: green; text-align: left;" (click)="changeLocale('locale')">English</button>-->
    <!--</div>-->
</ion-toolbar>

<ion-content fullscreen="true">
    <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/200/svg">
    <path fill="rgb(42, 184, 42)"
      d="M68.6, -33.5C81.6, -17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z"
      transform="translate(100 100)" />
  </svg>
    <div class="phonenumber">
        <ion-input class="form-control" *ngIf="!otpsend" style="width: 300px;" size="5" type="tel" slot="center" [(ngModel)]="user.Phone" placeholder="{{ 'LOGIN.ENTER_PHONE_NUMBER' | translate}}"></ion-input>
        <ion-input class="form-control" *ngIf="otpsend" style="width: 170px;" type="string" slot="center" [(ngModel)]="otp" placeholder="{{ 'LOGIN.ENTER_OTP' | translate }} ">
        </ion-input>
    </div>
    <div class="ion-padding">
        <form class="ion-padding">
            <div id="recaptcha-container" class="ion-padding-top" style="display: none;">
            </div>
            <br>
            <div class="otpbutton">

                <ion-button fill="clear" class="btn btn-outline-info" shape="round" *ngIf="otpsend" (click)="verifyotp()">{{ 'LOGIN.VERIFY_OTP' | translate }}</ion-button>
                <ion-button fill="clear" class="btn btn-outline-info" shape="round" *ngIf="!otpsend" [disabled]="!checked" (click)="Otp()">{{ 'LOGIN.SEND_OTP' | translate }}</ion-button>
            </div>
        </form>
        <div *ngIf="!resend" class="ion-padding resend-item">
            <ion-label class="resend" style="padding-left: 80px;color: blue;" (click)="Otp()">Resend OTP</ion-label> 
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <p class="ion-text-center custom-font">
            <ion-checkbox [checked]="checked" (ionChange)="addvalue()" value="agree"></ion-checkbox>{{ 'LOGIN.I_AGREE_WITH' | translate  }}<a href="privacy"> {{ 'LOGIN.TERMS_AND_CONDITIONS' | translate }}</a>
        </p>
    </ion-toolbar>

</ion-footer>