.address {
    color: white;
    justify-content: center;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 250px !important;
}

.savebutn {
    flex-direction: column;
    padding-left: 60px !important;
    padding-right: 40px !important;
}

agm-map {
    height: 400px;
}