<ion-app>
    <ion-split-pane contentId="main">
        <ion-menu side="start" menuId="main-menu" contentId="main">
            <ion-content class="content">
                <div class="avatar">
                    <ion-menu-toggle autoHide="false">
 
                                <ion-avatar style="height: 120px; width: 120px;"class="profile_pic">
                                    <!--<ion-img [src]="userProvideserv.loggedUser.profile_img1 ? userProvideserv.loggedUser.profile_img1 : 'assets/avatar.png' " style="margin-top: 30px;"></ion-img>
                                    --><ion-img src=" assets/avatar.png"></ion-img>

                                <div class="mob">
                                    <!--<ion-label class="mob" style="align-self:center;font-weight:bold;">{{mobilenu}}</ion-label>
                                    <ion-label class="mob" style="align-self: center;font-weight: bold;">{{loggedInUser.name? loggedInUser.name : loggedInUser.phone}}</ion-label>
                                    --> </div>
                            </ion-avatar> 
                                
                    </ion-menu-toggle>
                </div>
                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false">
                        <!-- <ion-item routerLink="/profile">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label>Your profile</ion-label>
          <ion-badge color="warning">Owner</ion-badge>
        </ion-item> -->

                        <ion-item routerLink="/home">
                            <ion-icon name="calendar-number-outline" slot="start" style="font-weight: 500;"></ion-icon>
                            <ion-label>{{ 'APPOINT.APPOINT' | translate}}</ion-label>
                        </ion-item>

                        <ion-item routerLink="/sales">
                            <ion-icon name="cart-outline" slot="start" style="font-weight: 500;"></ion-icon>
                            <ion-label>{{'MENU.SALES' | translate}}</ion-label>
                        </ion-item>

                        <ion-item routerLink="/inventory">
                            <ion-icon name="add-circle-outline" slot="start" style="font-weight: 500;"></ion-icon>
                            <ion-label>{{'MENU.CAT' | translate}}</ion-label>
                        </ion-item>

                        <!-- <ion-item routerLink="/business">
          <ion-icon name="business-outline" slot="start"></ion-icon>
          <ion-label>Business profile</ion-label>
        </ion-item> -->

                        <ion-item routerLink="/settings">
                            <ion-icon name="construct-outline" slot="start" style="font-weight: 500;"></ion-icon>
                            <ion-label>{{'MENU.SET' | translate}}</ion-label>
                        </ion-item>

                        <ion-item routerLink="/reviews">
                            <ion-icon name="star-half-outline" slot="start" style="font-weight: 500;"></ion-icon>
                            <ion-label>Reviews & Ratings</ion-label>
                        </ion-item>

                        <div class="center">
                            <ion-button class="btnLogout" shape="round" (click)="close()">{{'MENU.LOG' | translate}}

                            </ion-button>
                        </div>
                    </ion-menu-toggle>
                </ion-list>
                <ion-footer>
                    <div class="center">
                        <ion-button class="btnLogout" shape="round" (click)="delete()">
                         <ion-icon name="trash" slot="start" style="size: 35px; color: white;"></ion-icon>Delete
                        </ion-button>
                    </div>
                </ion-footer>
            </ion-content>
        </ion-menu>
        <ion-router-outlet [swipeGesture]="false" id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>