<div>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="appointment">
                <ion-icon name="people-circle-outline"></ion-icon>
                <ion-label>Appointments</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="service">
                <img src="assets/scissor.jpg" class="images" style="color: forestgreen;">

                <ion-label>Services</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="staff">
                <ion-icon name="person-add-outline"></ion-icon>
                <ion-label>Staffs</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</div>

<!-- <div class="con" slot="bottom">
    <div class="phone">
        <input type="radio" name="s" id="s1">
        <input type="radio" name="s" id="s2" checked="checked">
        <input type="radio" name="s" id="s3">

        <label for="s1">
      <ion-icon routerLink="/appointment" name="people-circle-outline">
      </ion-icon>
      <div class="des">Appointments</div>
    </label>
        <label for="s2">
      <ion-icon routerLink="/service" name="cut-outline"></ion-icon>
      <div class="des">Services</div>
    </label>
        <label for="s3">
      <ion-icon routerLink="/staff" name="person-add-outline"></ion-icon>
      <div class="des"> Staff</div>
    </label>
        <div class="circle"></div>
        <div class="phone_content">
            <div class="phone_bottom">
                <span class="indicator"></span>
            </div>
        </div>
    </div>
</div> -->